.home {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

button {
  background-color: purple;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}
